/* PHASE 1: Header */
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400px;
    font-size: 16px;
}

.header {
  background-color: #f00;
  color: white; 
}

.header a {
  padding: 10px 20px;
  display: block;
}

.header-nav {
  width: 900px;
  margin: auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.header-logo {
    float: left;
    border-right: 1px solid #ccc;
    font-weight: 700;
}

.header-logo:hover {
    background-color: black;
}

.header-list {
    float: right;
}

.header-list > li {
    float: left;
    border-left: 1px solid #ccc;
} 

.header-list > li:hover {
    background-color: black;    
} 

.group:after {
  content: "";
  display: table;
  clear: both;
}

 